<div class="shop-container">
    @for(book of store.availableBooks(); track book.id){

        <!-- calculate the value only once per book rendering -->
        @let stockQuantity = store.stock()[book.id] ?? 0; 

        <div class=" book-wrapper ">
            <div class="book">
                <div class="title-wrapper">
                    <div class="title">{{ book.title }}</div>
                    <div class="author">{{ book.author }}</div>
                </div>
                <div class="description">{{ book.description }}</div>
                <div class="details">
                    <div class="pages">{{ book.numberOfPages }} Seiten</div>
                    <div class="price">{{ book.price.toFixed(2) }} €</div>
                </div>
            </div>
            <div>
                <div class="order-wrapper">
                  <p-inputnumber type="number" 
                    buttonLayout="horizontal" 
                    fluid
                    [(ngModel)]="amountsToOrder[book.id]"  
                    [showButtons]="true" 
                    [min]="1"  />
                  <p-button 
                    [disabled] ="amountsToOrder[book.id]() > stockQuantity"
                    (click)="store.order(book.id, amountsToOrder[book.id]())">
                    Bestellen
                  </p-button>
                </div>
               <span style="display: inline-block; margin-top: 8px;" >Lagerbestand: {{ stockQuantity }}</span> 
            </div>
        </div>
    }
</div>
