.products-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add-button{
    align-self: flex-end;    
    margin-right: 24px;
}

.book-wrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 24px;
    gap: 32px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,0.2);
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}