<p-table [value]="stock()" [tableStyle]="{ 'min-width': '50rem' }" size='large'>
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Gewicht (g)</th>
            <th>Lagerbestand</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-book>
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.weightInGramm }}</td>
            <td>{{ book.storedAmount }}</td>
            <td> <p-button>Lieferung erhalten</p-button></td>
        </tr>
    </ng-template>
</p-table>