<p-table [value]="stock()" [tableStyle]="{ 'min-width': '50rem' }" size='large'>
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Gewicht (g)</th>
            <th>Lagerbestand</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-book>
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.weightInGramm }}</td>
            <td>{{ book.storedAmount }}</td>
            <td>  
                <div class="delivery-wrapper">
                    <p-inputnumber type="number" 
                        buttonLayout="horizontal" 
                        [(ngModel)]="amountsReceived[book.id]"  
                        [showButtons]="true" 
                        [min]="1"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" />
                    <p-button  (click)="store.received(book.id, amountsReceived[book.id]())">Lieferung erhalten</p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>