:host{
    font-size: larger;
}

.delivery-wrapper{  
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    
    .p-inputnumber-input{
       flex: 1 1 120px;
    }
}


