.main{
    display: flex;
}

.side-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 280px;
    padding: 40px;
    border-right: 2px solid rgba(0, 0, 0, 0.20);
    background-color: #fcfcfc;
}

.outlet-area{
    flex: 1;
    padding: 40px;
}
