.main{
    display: flex;
}
.side-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 280px;
    padding: 40px;
    border-right: 2px solid rgba(0, 0, 0, 0.20);
    background-color: #f5f5f5;
    
    button{
        display: block !important;
        height: 120px;
        width: 200px;
        border-radius: 20px;
        font-size: 28px;
        
        &.selected{
            background-color: rgba(9, 115, 131, 0.966);
            color: white;
            font-weight: 600;
        }
    }

}

.outlet-area{
    flex: 1;
    padding: 40px;
}
